<%- include("../includes/header.ejs") %>
</head>

<body>
    <%- include("../includes/navbar.ejs") %>

    <main>
        <h1> Sign Up </h1>

        <% if(flashErrorMessages){ %>
            <% for(let i = 0; i < flashErrorMessages.length; i++){ %>
                <p> <%= flashErrorMessages[i] %> </p>
            <% } %>
        <% } %>

        <form action="/signup" method="POST" novalidate>
            <label for="fullName"> Full Name </label>
            <input id="fullName" name="fullName" type="text" value="">

            <label for="username"> Username </label>
            <input id="username" name="username" type="text" value="">

            <label for="email"> Email </label>
            <input id="email" name="email" type="email" value="">

            <label for="password"> Password </label>
            <input id="password" name="password" type="password" value="">

            <label for="confirmPassword"> Confirm Password </label>
            <input id="confirmPassword" name="confirmPassword" type="password" value="">

            <input name="_csrf" type="hidden" value="<%= csrfToken %>">
            <button type="submit"> Sign Up! </button>
        </form>

    </main>

    <%- include("../includes/footer.ejs") %>