<%- include("../includes/header.ejs") %>
</head>

<body>
    <%- include("../includes/navbar.ejs") %>

    <main>
        <h1> Sign In </h1>

        <% if(flashErrorMessages){ %>
            <% for(let i = 0; i < flashErrorMessages.length; i++){ %>
                <p> <%= flashErrorMessages[i] %> </p>
            <% } %>
        <% } %>

        <form action="/signin" method="POST" novalidate>
            <label for="username"> Username </label>
            <input id="username" name="username" type="text" value="">

            <label for="password"> Password </label>
            <input id="password" name="password" type="password" value="">

            <input name="_csrf" type="hidden" value="<%= csrfToken %>">
            <button type="submit"> Sign In! </button>
        </form>

    </main>

    <%- include("../includes/footer.ejs") %>