<%- include("../includes/header.ejs") %>
<link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>

    <main>
        <h1> Sign In </h1>

        <% if(flashErrorMessages){ %>
            <% flashErrorMessages.forEach(flashErrorMessage => { %>
                <p> <%= flashErrorMessage %> </p>
            <% }); %>
        <% } %>

        <% if(validationErrors.length > 0){ %>
            <% validationErrors.forEach(validationError => { %>
                <p> <%= validationError.msg %> </p>
            <% }) %>
        <% } %>

        <form action="/signin" method="POST" novalidate>
            <label for="username"> Username </label>
            <input id="username" name="username" type="text" value="<%= userData.username %>">

            <label for="password"> Password </label>
            <input id="password" name="password" type="password" value="<%= userData.password %>">

            <input name="_csrf" type="hidden" value="<%= csrfToken %>">
            <button class="bg-red-700" type="submit"> Sign In! </button>
        </form>

    </main>

    <%- include("../includes/footer.ejs") %>