<%- include("../includes/header.ejs") %>
</head>

<body>
    <%- include("../includes/navbar.ejs") %>

    <main>
        <h1> Sign In </h1>

        <% if(flashErrorMessages){ %>
            <% flashErrorMessages.forEach(flashErrorMessage => { %>
                <p> <%= flashErrorMessage %> </p>
            <% }); %>
        <% } %>

        <% if(validationErrors.length > 0){ %>
            <% validationErrors.forEach(validationError => { %>
                <p> <%= validationError.msg %> </p>
            <% }) %>
        <% } %>

        <form action="/update-password" method="POST" novalidate>
            <label for="currentPassword"> Current Password </label>
            <input id="currentPassword" name="currentPassword" type="password" value="<%= userData.currentPassword %>">

            <label for="newPassword"> New Password </label>
            <input id="newPassword" name="newPassword" type="password" value="<%= userData.newPassword %>">

            <label for="confirmNewPassword"> Confirm New Password </label>
            <input id="confirmNewPassword" name="confirmNewPassword" type="password" value="<%= userData.confirmNewPassword %>">

            <input name="_csrf" type="hidden" value="<%= csrfToken %>">
            <button type="submit"> Update Password </button>
        </form>

    </main>

    <%- include("../includes/footer.ejs") %>